:root {
  --search-popup-h: 12rem;
}

.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--search-popup-h);
  z-index: 31;
  background: var(--color-bg-main);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  display: flex;
  transform: translateY(-100%);
  transition: var(--tr);
  opacity: 0;
}
.search-popup_open {
  opacity: 1;
  transform: translateY(0);
}
.search-popup-inner {
  width: 60rem;
  padding: 0 5rem;
  position: relative;
}

.search-popup .form-field {
  margin-bottom: 0;
}

.search-popup .close-button {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: none;
  background: none;
  padding: 0.5rem;
  cursor: pointer;
}
.search-popup .form-field {
  border-radius: var(--br-sm);
}
.search-popup .form-field INPUT[type="text"] {
  height: 3rem;
  font-size: 1.8rem;
}
.search-popup .form-field--icon IMG {
  height: 1.8rem;
  opacity: 0.5;
  transform: rotate(90deg);
}

.search-popup-results {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: var(--search-popup-h);
  background: var(--color-bg-main);
  display: none;
  height: 100vh;
  z-index: 30;
  overflow-y: auto;
}
.search-popup-results_open {
  display: block;
}
.search-popup-results .search-popup-inner {
  display: block;
}

.search-res-count {
  margin: 3rem 0;
}
.search-res-post,
.search-res-post:hover,
.search-res-post:visited,
.search-res-post:active {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 2rem;
}

@media (max-width: 1199px) {
}

@media (max-width: 959px) {
}
@media (max-width: 639px) {
  :root {
    --search-popup-h: 20rem;
  }
  .search-popup-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    width: 100%;
    padding: 0 var(--site-pad-side);
  }
  .search-popup .close-button {
    position: relative;
  }
  .search-popup .form-field--icon IMG {
    height: 3rem;
  }
  .search-popup .form-field INPUT[type="text"] {
    font-size: 3rem;
  }
}
